src/main/mule/soapsub.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a2f259a2-dbae-4377-8848-f1fde56a3952" >
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="2d65d6d2-2f6c-42bf-965d-8b80036a25c5" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="5c311927-3f11-4407-9060-a989cd8efef2" >
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<flow name="soapsubFlow" doc:id="74d9a5be-a6ea-40df-9d95-52a50765f417" >
		<http:listener doc:name="Listener" doc:id="9b4b2d2e-f7bd-409d-a4d8-996fba8aa233" config-ref="HTTP_Listener_config1" path="SOAPSUB"/>
		<set-variable value="#[attributes.queryParams.num1]" doc:name="Set Variable" doc:id="2f95830b-a98b-421a-9ca3-b6ff5b1dd94c" variableName="num1"/>
		<set-variable value="#[attributes.queryParams.num2]" doc:name="Set Variable" doc:id="48d8db2b-ac00-44eb-ab76-d8079883bca3" variableName="num2"/>
		<ee:transform doc:name="Transform Message" doc:id="83a40f84-7203-42ef-bcb5-ba23dc628ae2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Subtract: {
		ns0#intA: vars.num1 as Number,
		ns0#intB: vars.num2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="96af9a42-b227-482a-9116-6eb958835b63" config-ref="Web_Service_Consumer_Config" operation="Subtract"/>
		<logger level="INFO" doc:name="Logger" doc:id="765cabeb-8868-485a-b983-f46f5f32eb82" message="#[payload]"/>
	</flow>
</mule>
